
@{
    ViewBag.Title = "Manage Shipments";
}

<form class="type2-add-edit-view-page">
    <header>
        <h1>Manage Shipments</h1>
    </header>
    <section class="warehouse-info-box">
        <h5 class="warehouse-info-box-header">
            <label for="warehouse-name">
                From
            </label>
            <select id="warehouse-name">
                <option>WH-1-Main</option>
                <option>WH-2-Main</option>
            </select>
        </h5>
        <div class="warehouse-info-box-items">
            <div class="warehouse-info-box-item">
                <h5>Name:</h5>
                <div>WH-1-MAIN</div>
            </div>
            <div class="warehouse-info-box-item">
                <h5>Description:</h5>
                <div>My Favourite Warehouse</div>
            </div>
            <div class="warehouse-info-box-item">
                <h5>Location:</h5>
                <div>Voin Draskoci</div>
            </div>
            <div class="warehouse-info-box-item">
                <h5>Capacity:</h5>
                <div><span>1200</span>/<span>1500</span> Units</div>
            </div>
            <div class="warehouse-info-box-item">
                <a href="#" class="btn-default btn-small">Manage Warehouse</a>
            </div>

        </div>

    </section>
    <section class="table-interact-section">
        <h5 class="table-interact-section-header">Shipments</h5>
        <table class="entries-table">
            <thead>
                <tr>
                    <th>Shipping ID</th>
                    <th>Shipping To</th>
                    <th>On Date</th>
                    <th>Number Of Items</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>123123</td>
                    <td>Nil ArmStrong</td>
                    <td>24.12.2024</td>
                    <td>3</td>
                    <td>
                        <a href="#" class="btn-default btn-small secondary-background">Cancel</a>
                        <a href="#" class="btn-default btn-small shade2-background">Details</a>

                    </td>
                </tr>
                <tr>
                    <td>123123</td>
                    <td>Nil ArmStrong</td>
                    <td>24.12.2024</td>
                    <td>3</td>
                    <td>
                        <a href="#" class="btn-default btn-small secondary-background">Cancel</a>
                        <a href="#" class="btn-default btn-small shade2-background">Details</a>

                    </td>
                </tr>
            <tr>
                <td>123123</td>
                <td>Nil ArmStrong</td>
                <td>24.12.2024</td>
                <td>3</td>
                <td>
                    <a href="#" class="btn-default btn-small secondary-background">Cancel</a>
                    <a href="#" class="btn-default btn-small shade2-background">Details</a>

                </td>
            </tr>
            <tr>
                <td>123123</td>
                <td>Nil ArmStrong</td>
                <td>24.12.2024</td>
                <td>3</td>
                <td>
                    <a href="#" class="btn-default btn-small secondary-background">Cancel</a>
                    <a href="#" class="btn-default btn-small shade2-background">Details</a>

                </td>
            </tr>
            <tr>
                <td>123123</td>
                <td>Nil ArmStrong</td>
                <td>24.12.2024</td>
                <td>3</td>
                <td>
                    <a href="#" class="btn-default btn-small secondary-background">Cancel</a>
                    <a href="#" class="btn-default btn-small shade2-background">Details</a>

                </td>
            </tr>
            <tr>
                <td>123123</td>
                <td>Nil ArmStrong</td>
                <td>24.12.2024</td>
                <td>3</td>
                <td>
                    <a href="#" class="btn-default btn-small secondary-background">Cancel</a>
                    <a href="#" class="btn-default btn-small shade2-background">Details</a>

                </td>
            </tr>
            <tr>
                <td>123123</td>
                <td>Nil ArmStrong</td>
                <td>24.12.2024</td>
                <td>3</td>
                <td>
                    <a href="#" class="btn-default btn-small secondary-background">Cancel</a>
                    <a href="#" class="btn-default btn-small shade2-background">Details</a>

                </td>
            </tr>
            <tr>
                <td>123123</td>
                <td>Nil ArmStrong</td>
                <td>24.12.2024</td>
                <td>3</td>
                <td>
                    <a href="#" class="btn-default btn-small secondary-background">Cancel</a>
                    <a href="#" class="btn-default btn-small shade2-background">Details</a>

                </td>
            </tr>
            <tr>
                <td>123123</td>
                <td>Nil ArmStrong</td>
                <td>24.12.2024</td>
                <td>3</td>
                <td>
                    <a href="#" class="btn-default btn-small secondary-background">Cancel</a>
                    <a href="#" class="btn-default btn-small shade2-background">Details</a>

                </td>
            </tr>

            </tbody>
        </table>
    </section>
    <footer>
        <p class="page-error-message">Error Message: Fill all the inputs</p>
    </footer>
    <div class="page-main-buttons">
        <button class="btn-default page-main-button">Delete All</button>
        <button class="btn-default page-main-button">To Dashboard</button>
    </div>
</form>

