
@{
    ViewBag.Title = "Edit Pending Transfer";
}

<form class="type2-add-edit-view-page">
    <header>
        <h1>Edit Pending Transfer: 123123</h1>
    </header>
    <section class="warehouse-double-info-box">
        <h5 class="warehouse-info-box-header">
            <span>
                <label for="from-warehouse-name">
                    From Warehouse
                </label>
                <select id="from-warehouse-name">
                    <option>WH-1-Main</option>
                    <option>WH-2-Main</option>
                </select>
            </span>
            <span>
                <label for="to-warehouse-name">
                    To Warehouse
                </label>
                <select id="to-warehouse-name">
                    <option>WH-1-Main</option>
                    <option>WH-2-Main</option>
                </select>
            </span>


        </h5>
        <div class="warehouse-double-info-box-wrapper">
            <div class="warehouse-info-box-items">
                <div class="warehouse-info-box-item">
                    <h5>Name:</h5>
                    <div>WH-1-MAIN</div>
                </div>
                <div class="warehouse-info-box-item">
                    <h5>Location:</h5>
                    <div>Voin Draskoci</div>
                </div>
                <div class="warehouse-info-box-item">
                    <h5>Capacity:</h5>
                    <div><span>1200</span>/<span>1500</span> Units</div>
                </div>
                <div class="warehouse-info-box-item">
                    <a href="#" class="btn-default btn-small">Manage Warehouse</a>
                </div>
            </div>
            <div class="warehouse-info-box-items">
                <div class="warehouse-info-box-item">
                    <h5>Name:</h5>
                    <div>WH-1-MAIN</div>
                </div>
                <div class="warehouse-info-box-item">
                    <h5>Location:</h5>
                    <div>Voin Draskoci</div>
                </div>
                <div class="warehouse-info-box-item">
                    <h5>Capacity:</h5>
                    <div><span>1200</span>/<span>1500</span> Units</div>
                </div>
                <div class="warehouse-info-box-item">
                    <a href="#" class="btn-default btn-small">Manage Warehouse</a>
                </div>
            </div>
        </div>

    </section>
    <section class="table-interact-section">
        <h5 class="table-interact-section-header">Transfer Includes Items:</h5>
        <table class="entries-table">
            <thead>
                <tr>
                    <th>Include</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Size (cm3)</th>
                    <th>Type</th>
                    <th>Available Amount</th>
                    <th>Transfer Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="checkbox" class="include-checkbox">
                    </td>
                    <td class="item-image">
                        <img src="https://5.imimg.com/data5/SELLER/Default/2021/12/HW/KG/SQ/143354869/syp-wood-timber-plank.jpg" alt="Item Image">
                    </td>
                    <td>Planks</td>
                    <td>30</td>
                    <td>Material</td>
                    <td>700</td>
                    <td>
                        <input type="number" class="transfer-amount-input">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="include-checkbox">
                    </td>
                    <td class="item-image">
                        <img src="https://5.imimg.com/data5/SELLER/Default/2021/12/HW/KG/SQ/143354869/syp-wood-timber-plank.jpg" alt="Item Image">
                    </td>
                    <td>Planks</td>
                    <td>30</td>
                    <td>Material</td>
                    <td>700</td>
                    <td>
                        <input type="number" class="transfer-amount-input">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="include-checkbox">
                    </td>
                    <td class="item-image">
                        <img src="https://5.imimg.com/data5/SELLER/Default/2021/12/HW/KG/SQ/143354869/syp-wood-timber-plank.jpg" alt="Item Image">
                    </td>
                    <td>Planks</td>
                    <td>30</td>
                    <td>Material</td>
                    <td>700</td>
                    <td>
                        <input type="number" class="transfer-amount-input">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="include-checkbox">
                    </td>
                    <td class="item-image">
                        <img src="https://5.imimg.com/data5/SELLER/Default/2021/12/HW/KG/SQ/143354869/syp-wood-timber-plank.jpg" alt="Item Image">
                    </td>
                    <td>Planks</td>
                    <td>30</td>
                    <td>Material</td>
                    <td>700</td>
                    <td>
                        <input type="number" class="transfer-amount-input">
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <footer>
        <p class="page-error-message">Error Message: Fill all the inputs</p>
    </footer>
    <div class="page-main-buttons">
        <button class="btn-default page-main-button">Delete</button>
        <button class="btn-default page-main-button">Save</button>
        <button class="btn-default page-main-button shade2-background">Manage Transfers</button>
    </div>
</form>