.type2-add-edit-view-page
{
    background-color: var(--background);
    color: var(--text);
    height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr auto auto;
}

.type2-two-tables-modification
{
    grid-template-rows: auto 1fr 1fr auto auto;
}

.type2-add-edit-view-page header
{
    font-size: var(--fs-mid);
    text-align: center;
}

.warehouse-info-box
{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.4em 2em;
    background-color: var(--primary);
    color: var(--text-inverted);
    margin: 0 1rem;
    border-radius: var(--br-big);

}
.warehouse-info-box-header
{
    font-size: var(--fs-mid);
    display: flex;
    align-items: center;
    gap: 1rem;
    /*border-bottom: 1px solid var(--accent);*/
}

.warehouse-info-box-header select
{
    font-size: var(--fs-small);
    width: 20%;
    padding: 0.1em 0.5em;
    background-color: var(--shade-2);
    color: var(--text);
}
.warehouse-info-box-items
{
    display:grid ;
    grid-template-columns: 1fr 1fr;
    font-size: var(--fs-mid);
    gap: 0.2rem;
}
.warehouse-info-box-item
{
    display: flex;
    gap: 1rem;
    /* background-color: var(--background); */
    /* color: var(--text); */
    
}

.warehouse-info-box-item div {
    font-weight: 500;
}

.warehouse-info-box-item h5 {
    min-width: 20%;
}
.warehouse-info-box-item a
{
    background-color: var(--shade-4);
    /*box-shadow: var(--shadow-2-inverted);*/
}

.warehouse-info-box-item:nth-child(2)
{
    grid-column: 1/span 1;
    grid-row: 2/span 1;
}

.warehouse-info-box-item:nth-child(3)
{
    grid-column: 1/span 1;
    grid-row: 3/span 1;
}

.warehouse-info-box-item:nth-child(4)
{
    grid-column: 2/span 1;
    grid-row: 1/2;
}
.warehouse-info-box-item:nth-child(5)
{
    grid-column: 2/span 1;
    grid-row: 2/span 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

/*=========Form Interact Section=======*/

.form-interact-section
{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 2em;

}
.form-interact-section h5
{
    font-size: var(--fs-big);
    text-align: center;
}

/*=========Table Interact Section=======*/

.table-interact-section
{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;

}
.table-interact-section-header
{
    display: flex;
    font-size: var(--fs-mid);
    justify-content: center;
}

.entries-table {
    flex-grow: 1;
    border-radius: var(--br-sml);
    color: var(--text);
    border-collapse: collapse;
}

.entries-table
{
    font-size: var(--fs-small);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.2em;
}

.entries-table thead tr
{
    background-color: var(--shade-3) !important;
    text-transform: uppercase;

}

.entries-table tbody
{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-weight: 500;
}

.entries-table tr {
    background-color: var(--shade-4) !important;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0.4em;
    border-radius: var(--br-sml);
}

    .entries-table tr td, th {
        flex-basis: 0;
        flex-grow: 1;
    }

.colapse-column {
    /* flex-basis: 100px; */
    flex-grow: 0.6 !important;
    /* flex-shrink: 0 !important; */
    /* flex-basis: 70px !important; */
    /* width: 100px !important; */
    /* background-color: yellow; */
}

.expand-column {
    flex-grow: 1.5 !important;
    /* background-color: grey; */
}

.entries-table-options {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.entries-table a {
    display: block;
    padding: 0.7rem;
    /* margin: 0 0.2rem; */
    min-width: 50px;
}
.entries-table-disabled-input {
    width: 100px;
    color: var(--text);
    text-align: center
}

.half-table-form-interact-section .table-interact-section-header
{
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: center;
    padding: 1rem;
}

.half-table-form-interact-section > div
{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    padding: 1rem;
}
.half-form-section
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}
.half-form-section label,input
{
    font-size: var(--fs-mid);
    font-weight: 700;
}
.half-form-section button
{
    padding: 1em 2em;
}

/*Search bar input*/
.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #aaa;
    border-radius: var(--br-sml) !important;
    padding: 5px;
    background-color: white !important;
    margin-left: 10px !important;
    margin-bottom: 5px !important;
    font-size: var(--fs-small) !important;
}

/*Search bar label*/
.dataTables_wrapper .dataTables_filter label {
    color: var(--text);
    font-size: var(--fs-small) !important;
}

/*Showing 1 to 3 results*/
.dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding-top: .755em;
    color: var(--text) !important;
    /* font-size: 13px !important */
}

.dataTables_wrapper .dataTables_paginate .paginate_button a {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: .5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: var(--text) !important;
    border: 1px solid transparent;
    border-radius: 2px;
}

/*Paginate buttons*/
.dataTables_wrapper .dataTables_paginate a.paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: .5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: var(--text) !important;
    border: 0px solid transparent !important;
    border-radius: var(--br-sml) !important;
    /* font-size: 11px !important; */
}

/*Paginate buttons -hover*/

.dataTables_wrapper .dataTables_paginate a.paginate_button:hover:not(.disabled) {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: .5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    background-color: var(--primary) !important;
    cursor: pointer;
    color: var(--text-inverted) !important;
    border: 0 solid transparent !important;
    background-image: none !important;
    border-radius: var(--br-sml) !important;

    transition: all 200ms ease !important;
}

/*Active paginate button*/

.dataTables_wrapper .dataTables_paginate a.paginate_button.current {
        background-color: var(--primary) !important;
        background-image: none !important;
}
