
@{
    ViewBag.Title = "404 Error";
}

<div class="error-page-wrapper">
    <div class="error-page">
        <div class="error-page-message">
            <h3>Oops...Something went wrong</h3>
            <br>
            <p>We're sorry, but the page you're looking for doesn't seem to exist or may have been moved.
                <br>
                <br>
                Please check the URL for any typos.</p>
        </div>

        <div class="error-page-image">
            <img src="~/Content/Images/404-error-message-image.png">
        </div>
    </div>

</div>

